body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
    display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  color: antiquewhite;
  font-weight: 100;
  font-size: 1.3em;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h6 {
  color: antiquewhite;
  font-weight: 100;
  font-size: 1.1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
